.menu-button {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;  
}

.custom-menu {
    width: 200px;
    display: block;
    float: left;
}

.custom-menu .pure-menu-selected {
    background: #1f8dd6;
}

.custom-menu .pure-menu-selected .pure-menu-link {
    color: #fff;
}

.custom-menu li.pure-menu-selected a:hover,
.custom-menu li.pure-menu-selected a:focus {
    background: none;
}


.message-list {
    margin-left: 400px;
}

.clickable-message {
    cursor: pointer;
}

.error {
    background: #F2DEDE;
}

.success {
    background: #DFF0D8;  
}

.pending {
    background: #FCF8E3;  
}

.mistake {
    background-color: #F2DEDE;
    margin: 5px;
}

.add-localization-form {
    margin: 5px;
}

.notification {
    position: fixed;
    right: 0px;
    top: 0px;


    width: 100px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}