.center {
    margin-left: auto;
    margin-right: auto;  
}

.custom-menu {
    width: 200px;
    display: block;
    float: left;
}

.custom-menu .pure-menu-selected {
    background: #1f8dd6;
}

.custom-menu .pure-menu-selected .pure-menu-link {
    color: #fff;
}

.custom-menu li.pure-menu-selected a:hover,
.custom-menu li.pure-menu-selected a:focus {
    background: none;
}


.message-list {
    margin-left: 400px;
}

.clickable-message {
    cursor: pointer;
}

.clickable-message.error {
    background: #F2DEDE;
}

.clickable-message.success {
    background: #DFF0D8;  
}

.clickable-message.pending {
    background: #FCF8E3;  
}

.mistake {
    background-color: #F2DEDE;
    margin: 5px;
}